# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf

[*.{c,cppi,cc,h,hpp}]
indent_size = 2

# Tab indentation (no size specified)
[Makefile,makefile,GNUmakefile]
indent_style = tab

#[*.{js,py}]
